pipeline/P_InitialCopyPipelineParamatersTables.json
{
	"name": "P_InitialCopyPipelineParamatersTables",
	"properties": {
		"activities": [
			{
				"name": "LookupTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDES1PipelineParameters",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupPipelineParameters').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FE_CopyTable_XRM_ToTbl",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FE_StoredProc_TruncateTables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DynamicsSource"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_XRMParameter",
									"type": "DatasetReference",
									"parameters": {
										"xrmtablename": "@item().Table_Name",
										"xrmlastmoddatetime": "@item().Last_Mod_DateTime"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLDES1Parameter",
									"type": "DatasetReference",
									"parameters": {
										"sqltablename": "@item().Table_Name"
									}
								}
							]
						},
						{
							"name": "FE_StoredProc_TruncateTables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_TruncateTable_Master]",
								"storedProcedureParameters": {
									"TblName": {
										"value": {
											"value": "@item().Table_Name_SQL",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSql_des_001_df_LinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}