pipeline/P_XRM_SQL_Candidate.json
{
	"name": "P_XRM_SQL_Candidate",
	"properties": {
		"activities": [
			{
				"name": "LookupCandLastMod",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(modifiedon)\nFROM [dbo].[crimson_candidate]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Candidate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetVariableCandLastMod",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupCandLastMod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "@LastMod",
					"value": {
						"value": "@activity('LookupCandLastMod').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyCandIntoCandTemp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetVariableCandLastMod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@CONCAT('<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n    <entity name=\"crimson_candidate\">\n       <all-attributes />\n       <filter type=\"and\">\n           <condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"'\n           ,activity('LookupCandLastMod').output\n           , '\" />\n       </filter>\n     </entity>\n</fetch>')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Candidate",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"@LastMod": {
				"type": "String"
			}
		},
		"annotations": []
	}
}